<header>Log for <%= link_to(@wine.name, @wine) %></header>
<ol id="Log Entries">
  <% @log_entries.each do |log_entry| %>
    <li>
      <span class="rating"><%= log_entry.rating %></span>
      <span class="location">from <%= log_entry.location %> </span>
      <span class="tasted_on">
        <%= time_ago_in_words(log_entry.tasted_on) %> ago
      </span>
      <p>
        &quot;<%= log_entry.comments %>&quot;
      </p>
    </li>
  <% end %>
</ol>
<br/>
<%= link_to 'Write a Log Entry', new_wine_log_entry_path(@wine),
        remote: true,
        data: { 'update-target' => 'log_entry_form_container' },
        class: 'btn btn-primary' %>

<div id="log_entry_form_container"></div>