<h1>Wines</h1>
<%= page_entries_info @wines %>
<br/><br/>
<ol>
<% @wines.each do |wine| %>
  <li>
  <p><%= link_to(wine.name.presence || 'No Name', wine) %> (<%= wine.varietal %>) from <%= wine.winery %></p>
</li>
<% end %>
</ol>
<%= paginate @wines %>